// Fix code chunk backgrounds and text color
html[data-bs-theme="light"] {

  div.sourceCode>pre,
  pre.sourceCode,
  pre.downlit,
  pre {
    background-color: $code-bg !important;
  }

  #search-input {
    &::placeholder {
      color: var(--body-secondary-color) !important;
    }
  }

  .navbar {
    --bs-secondary-color: #ece5cf;
  }
}

html[data-bs-theme="dark"] {

  div.sourceCode>pre,
  pre.sourceCode,
  pre.downlit,
  pre {
    background-color: $code-bg-dark !important;
  }
}

pre {
  color: var(--bs-body-color);
}

.navbar .navbar-brand img.stan-logo {
  height: 25px !important;
  width: auto;
  vertical-align: middle;
}

.navbar .nav-text.text-danger {
  color: var(--bs-navbar-color) !important;
}

.navbar .nav-text.text-danger::after {
  content: "DEV";
  display: inline-block;
  border: 2px solid var(--bs-navbar-color);
  border-radius: 999px;
  padding: .05rem .4rem;
  margin-left: .4rem;
  line-height: 1;
  font-weight: 800;
}